<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Mi Empresa</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="js/contact.js">
    
</head>
<body>
    <header>
        <h1>Mi Empresa</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Contacto</h2>
        <div id="map" style="height: 400px; width: 100%;"></div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41330.957025870164!2d-0.6701454395206173!3d39.651025229228715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60f532dfcd6fd1%3A0x23d3e0cfc43e12f0!2sHotel%20Puerta%20de%20la%20Serran%C3%ADa!5e0!3m2!1ses!2ses!4v1718729098177!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>Dirección: Calle Falsa 123, Ciudad Ficticia</p>
        <p>Teléfono: 123456789</p>
        <p>Correo electrónico: contacto@miempresa.com</p>
    </main>
    
    <footer>
        <p>&copy; 2024 Mi Empresa</p>
        <div class="social-media">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
        <p>Dirección de la empresa</p>
        <p>Aviso legal</p>
    </footer>
    
    
</body>
</html>
